<!-- POPUP's block -->
<div class="popup-wrap animate-popup" id="popups">
	<div class="back-wall" data-popup-close></div>
	<div class="popups-block_wrap">
		<div class="popups-frame_wrap">
			<div class="popups-frame">
				<div class="close-button-row">
				<button class="btn-icon icon-color-custom ico_close close-btn" type="button" data-popup-close></button>
			</div>
				<div class="popups-window">
					@@include('./popups/info.html')
					@@include('./popups/question.html')
				</div>
		</div>
		</div>
	</div>
</div>